<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onemed1">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OneMED1">
        <activity android:name=".CompletedAppointmentRecycler" />
        <activity android:name=".PendingAppointmentRecycler" />
        <activity android:name=".ApproveAppointmentRecycler" />
        <activity android:name=".AppointmentPatient_Recycler" />
        <activity android:name=".AppointmentBooking" />
        <activity android:name=".ViewMedicalRecord" />
        <activity
            android:name=".MedicalRecords_Recyler"
            android:parentActivityName=".Homepage_Patient" />
        <activity
            android:name=".AddMedicalRecordPatient"
            android:parentActivityName=".MedicalRecords_Recyler" />
        <activity
            android:name=".Prescription_Patient_Recycler"
            android:parentActivityName=".Homepage_Patient" />
        <activity android:name=".Prescription_Recycler" />
        <activity
            android:name=".ViewMyDetailsPatient"
            android:parentActivityName=".Homepage_Patient" />
        <activity android:name=".Add_Prescription_Organisation" />
        <activity android:name=".Update_Delete_Patient" />
        <activity android:name=".View_Patient_Details" />
        <activity android:name=".PatientAddinfo" />
        <activity android:name=".Register" />
        <activity
            android:name=".Homepage_Patient"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Homepage_Pharmacy"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Homepage_activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.OneMED1.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>